section{
  background: #fff;
  width: 300px;
  height: 250px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 250px;
  box-shadow: 0px 8px 10px rgb(0, 0, 0, 0.5);
}

button{
  border: none;
  background: #cbcbcba8;
  border-radius: 5px;
  padding: auto;
  margin: 20px;
  width: 80px;
  height: 30px;
  cursor: pointer;
}

p{
  font-size: 25px;
}


#buttons{
  margin-bottom: 15px;
}